# dependencies
node_modules
.pnpm-store

# next.js
.next
out

# turbo
.turbo

# env
.env
.env*.local

# debug
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
dist
trash

# typescript
*.tsbuildinfo
next-env.d.ts
